<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>88 MPH - Earn upfront interest at a fixed rate</title>
<meta name="description" content="Connect your Ethereum wallet to 88 MPH dApp, make a deposit, and earn upfront interest at a fixed rate instantly with DAI or USDC.">

<!-- Libs CSS -->
<!-- build:css @@webRoot/assets/fonts/feather/feather.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/fonts/feather/feather.css">
<!-- endbuild -->
<link rel="stylesheet" href="@@webRoot/node_modules/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/quill/dist/quill.core.css">
<link rel="stylesheet" href="@@webRoot/node_modules/select2/dist/css/select2.min.css">
<link rel="stylesheet" href="@@webRoot/node_modules/highlight.js/styles/vs2015.css">

<link rel="icon" type="image/png" href="assets/img/icon-default.png">

<!-- Theme CSS -->
<!-- build:css @@webRoot/assets/css/theme.min.css -->
<link rel="stylesheet" href="@@webRoot/assets/css/theme.css" id="stylesheetLight">
<!-- endbuild -->

<meta content="@88mphapp" name="twitter:site" />
<meta content="summary_large_image" name="twitter:card" />
<meta content="https://88mph.app/assets/img/og-twitter-image.png" name="twitter:image" />
<meta content="assets/img/og-twitter-image.png" itemprop="image" />
<meta content="https://88mph.app/assets/img/og-twitter-image.png" property="og:image" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150960896-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-150960896-1');
</script>
