<!-- Libs JS -->
<!-- endbuild -->

<!-- Theme JS -->
<!-- build:js @@webRoot/assets/js/theme.min.js -->
<script src="@@webRoot/assets/js/polyfills.js"></script>
@@if (demoMode) {<script src="@@webRoot/assets/js/demo.js"></script>}
<script src="@@webRoot/assets/js/charts.js"></script>
@@if (colorScheme=="dark" || demoMode) {<script src="@@webRoot/assets/js/charts-dark.js"></script>}
<script src="@@webRoot/assets/js/autosize.js"></script>
<script src="@@webRoot/assets/js/dashkit.js"></script>
<script src="@@webRoot/assets/js/dropdowns.js"></script>
<script src="@@webRoot/assets/js/dropzone.js"></script>
<script src="@@webRoot/assets/js/flatpickr.js"></script>
<script src="@@webRoot/assets/js/highlight.js"></script>
<script src="@@webRoot/assets/js/kanban.js"></script>
<script src="@@webRoot/assets/js/list.js"></script>
<script src="@@webRoot/assets/js/map.js"></script>
<script src="@@webRoot/assets/js/navbar.js"></script>
<script src="@@webRoot/assets/js/popover.js"></script>
<script src="@@webRoot/assets/js/quill.js"></script>
<script src="@@webRoot/assets/js/select2.js"></script>
<script src="@@webRoot/assets/js/tooltip.js"></script>
<!-- endbuild -->
